body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

#general-container {
  height: 100vh;
  width: 66vw;
  border: 2px solid black;
  margin: auto;
  padding: 4%;
}

#title > div {
  display: flex;
  align-items: center;
}

#title > div > span {
  font-size: 1.3em;
  color: rgb(68,34,105);
}

#title > div > div {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: rgb(68,34,105);
  border-radius: 20%;
  box-shadow: .15em .15em 0 .1em white, .4em .4em 0 .1em rgb(68,34,105);
  margin: 1%;
  margin-right: 2%;
}

#title > h1 {
  font-weight: 500;
  color: rgb(68,34,105);
}